.prose :is(del, s) {
    color: var(--prose-deleted-color);
    text-decoration: line-through var(--prose-deleted-decoration);
}

.prose a {
    overflow-wrap: anywhere;
}

.prose code:not(pre code) {
    padding: 0.065rem 0.33rem 0;
    font-size: 0.9em;
    color: var(--code-inline-text);
    background: var(--code-inline-bg);
    border: 1px solid var(--code-inline-border);
    border-radius: 3px;
}
